<div class="dashboard__menu_box">
  <ul class="dashboard__menu">
    <li>
      <a href="/" class="dashboard__menu_list">Dashboard</a>
    </li>
    <li>
        <a href="/users/profile" class="dashboard__menu_list">Profile</a>
      </li>
    <li>
        <a href="/faq/list" class="dashboard__menu_list">FAQ</a>
      </li>
    <li>
      <a href="/faq/list" class="dashboard__menu_list">Free Board</a>
    </li>
  </ul>
</div>

