<div class="dashboard__menu_box">
  <ul class="dashboard__menu">
    <li>
      <a href="/" class="dashboard__menu_list">Dashboard</a>
    </li>
    <li class="dashboard__menu_list" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Faq
    </li>
    <li class="collapse menu__collapse_box " id="collapseExample">
        <div class="well">
          <ul>
              <li>
                  <a href="/faq/list" class="dashboard__menu_list">FAQ List</a>
                </li>
                <li>
                  <a href="/faq" class="dashboard__menu_list" >FAQ Upload</a>
                </li>
                <li>
                  <a href="/faq/list" class="dashboard__menu_list">FAQ Detail</a>
                </li>
                <li>
                  <a href="/faq/list" class="dashboard__menu_list">FAQ Delete</a>
                </li>
          </ul>
        </div>
      </li>
    <li>
      <a href="/faq/list" class="dashboard__menu_list">Board List</a>
    </li>
    <li>
      <a href="/faq/list" class="dashboard__menu_list">Board Upload</a>
    </li>
    <li>
      <a href="/faq/list" class="dashboard__menu_list">Board Detail</a>
    </li>
    <li>
      <a href="/faq/list" class="dashboard__menu_list">Board Delete</a>
    </li>
  </ul>
</div>

