@import '../../Base_list/base';

.footer {
  padding: 40px 0;

  &.base__footer {
    background-color: $footerBgColor;
  }

  .footer__info_tx {
    @include font(12px, $footerTxColor);
  }

  .connect__sns_list {
    color: #999;
    text-align: center;
    font-size: 15px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}