


$defaultSans  : 'Source Sans Pro', Helvetica, Arial, sans-serif;
$mainFontFamily   : 'Source Sans Pro', Helvetica, Arial, sans-serif;
$mainTitleColor   : #333;
$footerTxColor    : #8d8d8d;
$mainBoarderColor : #333;
$footerBgColor    : #222;
$fixedHeaderHeight : 60px;