@import './../../Common/Base_list/base';

.login__box{
  width: 400px;
  margin-top: 50px;
  border: 1px solid #bbb;
  border-top: 3px solid #0b8dd8;
  padding: 50px;
}
.login__title{
  text-align: center;
  margin-bottom: 35px;
}