<div class="mypage__menu_box">
    <ul class="mypage__menu">
      <li>
        <a href="/users/mypage" class="mypage__menu_list">Mypage</a>
      </li>
      <li>
        <a href="/users/history" class="mypage__menu_list">History</a>
      </li>
    </ul>
  </div>