<footer class="container-fluid base__footer footer">
  <div class="row margin_none">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p class="footer__info_tx info">BPEAR MAG put emphasis on communities and communications and carry sensitive stories revolving around
        subculture with underground, street, and life style.
      </p>
      <p class="footer__info_tx all-right">© BPEARMAG. All rights reserved</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="connect box col-lg-6 col-md-6 col-sm-6 col-xs-6 center-box">
        <div class="connect__sns_list github col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <i class="fab fa-github"></i>
        </div>
        <div class="connect__sns_list email col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="connect__sns_list kakao col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <i class="fas fa-comment-dots"></i>
        </div>
        <div class="connect__sns_list twitter col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>